@charset "UTF-8";

/*
Paleta de cores
Verde: #49a09d
Roxo: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 270px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);

    transition: width .3s, height .3s;
}

section#login >div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/predio.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: bottom center;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1{
        text-align: center;
        margin-bottom: 10px;
    }

div#form > p{
        font-size: 0.8em;
    }

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #285553;
}

form > div.campo{
    background-color: #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 8px 0;
    overflow: hidden; /* importante: segura os floats dentro */
    border: 3px solid #5f2c82;
    box-sizing: border-box;
}

div.campo > span{
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 2em;
    border-radius: 8px 0 0 8px;
}

div.campo > input{
    float: right;
    width: calc(100% - 40px); /* ocupa o resto */
    height: 40px;
    border: 0;
    background-color: #63dfda;
    font-size: 1em;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 0 8px 8px 0;
}

div.campo > input:focus-within {
    background-color: white;
}

form label {
    display: none;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color:#49a09d;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #63dfda;
}

form > a.botao > span {
    font-size: .8em;
}